/backend/__history/Backend.Application.pas.~10~
/backend/__history/Backend.Application.pas.~11~
/backend/__history/Backend.Application.pas.~12~
/backend/__history/Backend.Application.pas.~3~
/backend/__history/Backend.Application.pas.~4~
/backend/__history/Backend.Application.pas.~5~
/backend/__history/Backend.Application.pas.~6~
/backend/__history/Backend.Application.pas.~7~
/backend/__history/Backend.Application.pas.~8~
/backend/__history/Backend.Application.pas.~9~
/backend/__history/TarefasBackEnd.dpr.~10~
/backend/__history/TarefasBackEnd.dpr.~11~
/backend/__history/TarefasBackEnd.dpr.~12~
/backend/__history/TarefasBackEnd.dpr.~13~
/backend/__history/TarefasBackEnd.dpr.~14~
/backend/__history/TarefasBackEnd.dpr.~15~
/backend/__history/TarefasBackEnd.dpr.~6~
/backend/__history/TarefasBackEnd.dpr.~7~
/backend/__history/TarefasBackEnd.dpr.~8~
/backend/__history/TarefasBackEnd.dpr.~9~
/backend/Controller/__history/Controller.Task.pas.~10~
/backend/Controller/__history/Controller.Task.pas.~11~
/backend/Controller/__history/Controller.Task.pas.~12~
/backend/Controller/__history/Controller.Task.pas.~13~
/backend/Controller/__history/Controller.Task.pas.~14~
/backend/Controller/__history/Controller.Task.pas.~15~
/backend/Controller/__history/Controller.Task.pas.~6~
/backend/Controller/__history/Controller.Task.pas.~7~
/backend/Controller/__history/Controller.Task.pas.~8~
/backend/Controller/__history/Controller.Task.pas.~9~
/backend/Controller/__history/Controller.Users.pas.~10~
/backend/Controller/__history/Controller.Users.pas.~11~
/backend/Controller/__history/Controller.Users.pas.~12~
/backend/Controller/__history/Controller.Users.pas.~13~
/backend/Controller/__history/Controller.Users.pas.~14~
/backend/Controller/__history/Controller.Users.pas.~15~
/backend/Controller/__history/Controller.Users.pas.~16~
/backend/Controller/__history/Controller.Users.pas.~17~
/backend/Controller/__history/Controller.Users.pas.~18~
/backend/Controller/__history/Controller.Users.pas.~19~
/backend/DAO/__history/DAO.Database.pas.~10~
/backend/DAO/__history/DAO.Database.pas.~11~
/backend/DAO/__history/DAO.Database.pas.~12~
/backend/DAO/__history/DAO.Database.pas.~13~
/backend/DAO/__history/DAO.Database.pas.~14~
/backend/DAO/__history/DAO.Database.pas.~15~
/backend/DAO/__history/DAO.Database.pas.~6~
/backend/DAO/__history/DAO.Database.pas.~7~
/backend/DAO/__history/DAO.Database.pas.~8~
/backend/DAO/__history/DAO.Database.pas.~9~
/backend/Service/__history/Service.Task.pas.~21~
/backend/Service/__history/Service.Task.pas.~22~
/backend/Service/__history/Service.Task.pas.~23~
/backend/Service/__history/Service.Task.pas.~24~
/backend/Service/__history/Service.Task.pas.~25~
/backend/Service/__history/Service.Task.pas.~26~
/backend/Service/__history/Service.Task.pas.~27~
/backend/Service/__history/Service.Task.pas.~28~
/backend/Service/__history/Service.Task.pas.~29~
/backend/Service/__history/Service.Task.pas.~30~
/backend/Service/__history/Service.Users.pas.~10~
/backend/Service/__history/Service.Users.pas.~11~
/backend/Service/__history/Service.Users.pas.~12~
/backend/Service/__history/Service.Users.pas.~13~
/backend/Service/__history/Service.Users.pas.~14~
/backend/Service/__history/Service.Users.pas.~15~
/backend/Service/__history/Service.Users.pas.~16~
/backend/Service/__history/Service.Users.pas.~7~
/backend/Service/__history/Service.Users.pas.~8~
/backend/Service/__history/Service.Users.pas.~9~
/backend/Win32/Debug/Backend.Application.dcu
/backend/Win32/Debug/Controller.Task.dcu
/backend/Win32/Debug/Controller.Users.dcu
/backend/Win32/Debug/DAO.Database.dcu
/backend/Win32/Debug/Horse.Callback.dcu
/backend/Win32/Debug/Horse.Commons.dcu
/backend/Win32/Debug/Horse.Constants.dcu
/backend/Win32/Debug/Horse.Core.dcu
/backend/Win32/Debug/Horse.Core.Files.dcu
/backend/Win32/Debug/Horse.Core.Group.Contract.dcu
/backend/Win32/Debug/Horse.Core.Group.dcu
/backend/Win32/Debug/Horse.Core.Param.Config.dcu
/backend/Win32/Debug/Horse.Core.Param.dcu
/backend/Win32/Debug/Horse.Core.Param.Field.Brackets.dcu
/backend/Win32/Debug/Horse.Core.Param.Field.dcu
/backend/Win32/Debug/Horse.Core.Param.Header.dcu
/backend/Win32/Debug/Horse.Core.Route.Contract.dcu
/backend/Win32/Debug/Horse.Core.Route.dcu
/backend/Win32/Debug/Horse.Core.RouterTree.dcu
/backend/Win32/Debug/Horse.Core.RouterTree.NextCaller.dcu
/backend/Win32/Debug/Horse.dcu
/backend/Win32/Debug/Horse.Exception.dcu
/backend/Win32/Debug/Horse.Exception.Interrupted.dcu
/backend/Win32/Debug/Horse.Jhonson.dcu
/backend/Win32/Debug/Horse.Mime.dcu
/backend/Win32/Debug/Horse.Proc.dcu
/backend/Win32/Debug/Horse.Provider.Abstract.dcu
/backend/Win32/Debug/Horse.Provider.Apache.dcu
/backend/Win32/Debug/Horse.Provider.CGI.dcu
/backend/Win32/Debug/Horse.Provider.Console.dcu
/backend/Win32/Debug/Horse.Provider.Daemon.dcu
/backend/Win32/Debug/Horse.Provider.IOHandleSSL.Contract.dcu
/backend/Win32/Debug/Horse.Provider.IOHandleSSL.dcu
/backend/Win32/Debug/Horse.Provider.ISAPI.dcu
/backend/Win32/Debug/Horse.Provider.VCL.dcu
/backend/Win32/Debug/Horse.Request.dcu
/backend/Win32/Debug/Horse.Response.dcu
/backend/Win32/Debug/Horse.Rtti.dcu
/backend/Win32/Debug/Horse.Rtti.Helper.dcu
/backend/Win32/Debug/Horse.Session.dcu
/backend/Win32/Debug/Horse.WebModule.dcu
/backend/Win32/Debug/Service.Task.dcu
/backend/Win32/Debug/Service.Users.dcu
/backend/Win32/Debug/TarefasBackEnd.exe
/backend/Win32/Debug/Web.WebConst.dcu
/frontend/__history/TarefasFrontend.dpr.~1~
/frontend/__history/TarefasFrontend.dpr.~2~
/frontend/__history/TarefasFrontend.dpr.~3~
/frontend/__history/TarefasFrontend.dpr.~4~
/frontend/__history/TarefasFrontend.dpr.~5~
/frontend/__history/TarefasFrontend.dpr.~6~
/frontend/__history/TarefasFrontend.dpr.~7~
/frontend/Controller/__history/Controller.Task.pas.~12~
/frontend/Controller/__history/Controller.Task.pas.~13~
/frontend/Controller/__history/Controller.Task.pas.~14~
/frontend/Controller/__history/Controller.Task.pas.~15~
/frontend/Controller/__history/Controller.Task.pas.~16~
/frontend/Controller/__history/Controller.Task.pas.~17~
/frontend/Controller/__history/Controller.Task.pas.~18~
/frontend/Controller/__history/Controller.Task.pas.~19~
/frontend/Controller/__history/Controller.Task.pas.~20~
/frontend/Controller/__history/Controller.Task.pas.~21~
/frontend/Service/__history/Service.Task.pas.~10~
/frontend/Service/__history/Service.Task.pas.~11~
/frontend/Service/__history/Service.Task.pas.~12~
/frontend/Service/__history/Service.Task.pas.~13~
/frontend/Service/__history/Service.Task.pas.~4~
/frontend/Service/__history/Service.Task.pas.~5~
/frontend/Service/__history/Service.Task.pas.~6~
/frontend/Service/__history/Service.Task.pas.~7~
/frontend/Service/__history/Service.Task.pas.~8~
/frontend/Service/__history/Service.Task.pas.~9~
/frontend/Service/__history/TaskServiceFactory.pas.~1~
/frontend/Service/__history/TaskServiceFactory.pas.~10~
/frontend/Service/__history/TaskServiceFactory.pas.~2~
/frontend/Service/__history/TaskServiceFactory.pas.~3~
/frontend/Service/__history/TaskServiceFactory.pas.~4~
/frontend/Service/__history/TaskServiceFactory.pas.~5~
/frontend/Service/__history/TaskServiceFactory.pas.~6~
/frontend/Service/__history/TaskServiceFactory.pas.~7~
/frontend/Service/__history/TaskServiceFactory.pas.~8~
/frontend/Service/__history/TaskServiceFactory.pas.~9~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~11~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~12~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~13~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~14~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~15~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~16~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~17~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~18~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~19~
/frontend/View/__history/View.Cadastro.Tarefa.dfm.~20~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~38~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~39~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~40~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~41~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~42~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~43~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~44~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~45~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~46~
/frontend/View/__history/View.Cadastro.Tarefa.pas.~47~
/frontend/View/__history/View.Login.dfm.~1~
/frontend/View/__history/View.Login.dfm.~2~
/frontend/View/__history/View.Login.dfm.~3~
/frontend/View/__history/View.Login.dfm.~4~
/frontend/View/__history/View.Login.dfm.~5~
/frontend/View/__history/View.Login.dfm.~6~
/frontend/View/__history/View.Login.dfm.~7~
/frontend/View/__history/View.Login.dfm.~8~
/frontend/View/__history/View.Login.pas.~1~
/frontend/View/__history/View.Login.pas.~10~
/frontend/View/__history/View.Login.pas.~2~
/frontend/View/__history/View.Login.pas.~3~
/frontend/View/__history/View.Login.pas.~4~
/frontend/View/__history/View.Login.pas.~5~
/frontend/View/__history/View.Login.pas.~6~
/frontend/View/__history/View.Login.pas.~7~
/frontend/View/__history/View.Login.pas.~8~
/frontend/View/__history/View.Login.pas.~9~
/frontend/View/__history/View.Principal.dfm.~15~
/frontend/View/__history/View.Principal.dfm.~16~
/frontend/View/__history/View.Principal.dfm.~17~
/frontend/View/__history/View.Principal.dfm.~18~
/frontend/View/__history/View.Principal.dfm.~19~
/frontend/View/__history/View.Principal.dfm.~20~
/frontend/View/__history/View.Principal.dfm.~21~
/frontend/View/__history/View.Principal.dfm.~22~
/frontend/View/__history/View.Principal.dfm.~23~
/frontend/View/__history/View.Principal.dfm.~24~
/frontend/View/__history/View.Principal.pas.~50~
/frontend/View/__history/View.Principal.pas.~51~
/frontend/View/__history/View.Principal.pas.~52~
/frontend/View/__history/View.Principal.pas.~53~
/frontend/View/__history/View.Principal.pas.~54~
/frontend/View/__history/View.Principal.pas.~55~
/frontend/View/__history/View.Principal.pas.~56~
/frontend/View/__history/View.Principal.pas.~57~
/frontend/View/__history/View.Principal.pas.~58~
/frontend/View/__history/View.Principal.pas.~59~
/frontend/Win32/Debug/Controller.Task.dcu
/frontend/Win32/Debug/frxAggregate.dcu
/frontend/Win32/Debug/frxBaseForm.dcu
/frontend/Win32/Debug/frxBaseGraphicsTypes.dcu
/frontend/Win32/Debug/frxChm.dcu
/frontend/Win32/Debug/frxClass.dcu
/frontend/Win32/Debug/frxClassRTTI.dcu
/frontend/Win32/Debug/frxCollections.dcu
/frontend/Win32/Debug/frxComCtrls.dcu
/frontend/Win32/Debug/frxCSSStyle.dcu
/frontend/Win32/Debug/frxCSSTransform.dcu
/frontend/Win32/Debug/frxCtrls.dcu
/frontend/Win32/Debug/frxDataLinkInPlaceEditor.dcu
/frontend/Win32/Debug/frxDBSet.dcu
/frontend/Win32/Debug/frxDialogForm.dcu
/frontend/Win32/Debug/frxDMPClass.dcu
/frontend/Win32/Debug/frxDock.dcu
/frontend/Win32/Debug/frxDPIAwareBaseControls.dcu
/frontend/Win32/Debug/frxDPIAwareInt.dcu
/frontend/Win32/Debug/frxDsgnIntf.dcu
/frontend/Win32/Debug/frxEngine.dcu
/frontend/Win32/Debug/frxFileUtils.dcu
/frontend/Win32/Debug/frxGDIPKerning.dcu
/frontend/Win32/Debug/frxGDIPPathText.dcu
/frontend/Win32/Debug/frxGif1.dcu
/frontend/Win32/Debug/frxGif2.dcu
/frontend/Win32/Debug/frxGIFGraphic.dcu
/frontend/Win32/Debug/frxGIFGraphics.dcu
/frontend/Win32/Debug/frxGraphicControls.dcu
/frontend/Win32/Debug/frxGraphicUtils.dcu
/frontend/Win32/Debug/frxGZip.dcu
/frontend/Win32/Debug/frxHelpers.dcu
/frontend/Win32/Debug/frxICOGraphics.dcu
/frontend/Win32/Debug/frxInheritError.dcu
/frontend/Win32/Debug/frxInPlaceClipboards.dcu
/frontend/Win32/Debug/frxInPlaceEditors.dcu
/frontend/Win32/Debug/frxIOTransportDialog.dcu
/frontend/Win32/Debug/frxIOTransportIntf.dcu
/frontend/Win32/Debug/frxJPEGGraphics.dcu
/frontend/Win32/Debug/frxmd5.dcu
/frontend/Win32/Debug/frxMetafileGraphics.dcu
/frontend/Win32/Debug/frxNetUtils.dcu
/frontend/Win32/Debug/frxPassw.dcu
/frontend/Win32/Debug/frxPictureCache.dcu
/frontend/Win32/Debug/frxPictureGraphics.dcu
/frontend/Win32/Debug/frxPlatformServices.dcu
/frontend/Win32/Debug/frxPNGGraphics.dcu
/frontend/Win32/Debug/frxPopupForm.dcu
/frontend/Win32/Debug/frxPreview.dcu
/frontend/Win32/Debug/frxPreviewPages.dcu
/frontend/Win32/Debug/frxPreviewPageSettings.dcu
/frontend/Win32/Debug/frxPrintDialog.dcu
/frontend/Win32/Debug/frxPrinter.dcu
/frontend/Win32/Debug/frxProgress.dcu
/frontend/Win32/Debug/frxProtocolFactory.dcu
/frontend/Win32/Debug/frxrcClass.dcu
/frontend/Win32/Debug/frxRes.dcu
/frontend/Win32/Debug/frxRichEdit.dcu
/frontend/Win32/Debug/frxSearchDialog.dcu
/frontend/Win32/Debug/frxSearchForm.dcu
/frontend/Win32/Debug/frxStorage.dcu
/frontend/Win32/Debug/frxSVGAttribute.dcu
/frontend/Win32/Debug/frxSVGBase.dcu
/frontend/Win32/Debug/frxSVGCanvas.dcu
/frontend/Win32/Debug/frxSVGColor.dcu
/frontend/Win32/Debug/frxSVGComponents.dcu
/frontend/Win32/Debug/frxSVGElement.dcu
/frontend/Win32/Debug/frxSVGGDIPCanvas.dcu
/frontend/Win32/Debug/frxSVGGraphic.dcu
/frontend/Win32/Debug/frxSVGGraphics.dcu
/frontend/Win32/Debug/frxSVGHelpers.dcu
/frontend/Win32/Debug/frxSVGPaint.dcu
/frontend/Win32/Debug/frxSVGParse.dcu
/frontend/Win32/Debug/frxSVGPath.dcu
/frontend/Win32/Debug/frxThreading.dcu
/frontend/Win32/Debug/frxUnicodeCtrls.dcu
/frontend/Win32/Debug/frxUnicodeUtils.dcu
/frontend/Win32/Debug/frxUtils.dcu
/frontend/Win32/Debug/frxVariables.dcu
/frontend/Win32/Debug/frxVectorCanvas.dcu
/frontend/Win32/Debug/frxWinGraphicUtils.dcu
/frontend/Win32/Debug/frxXML.dcu
/frontend/Win32/Debug/frxXMLSerializer.dcu
/frontend/Win32/Debug/frxZLib.dcu
/frontend/Win32/Debug/fs_ibasic.dcu
/frontend/Win32/Debug/fs_iclassesrtti.dcu
/frontend/Win32/Debug/fs_iconst.dcu
/frontend/Win32/Debug/fs_icpp.dcu
/frontend/Win32/Debug/fs_idialogsrtti.dcu
/frontend/Win32/Debug/fs_idisp.dcu
/frontend/Win32/Debug/fs_ievents.dcu
/frontend/Win32/Debug/fs_iexpression.dcu
/frontend/Win32/Debug/fs_iformsrtti.dcu
/frontend/Win32/Debug/fs_igraphicsrtti.dcu
/frontend/Win32/Debug/fs_iilparser.dcu
/frontend/Win32/Debug/fs_iinirtti.dcu
/frontend/Win32/Debug/fs_iinterpreter.dcu
/frontend/Win32/Debug/fs_ijs.dcu
/frontend/Win32/Debug/fs_iparser.dcu
/frontend/Win32/Debug/fs_ipascal.dcu
/frontend/Win32/Debug/fs_isysrtti.dcu
/frontend/Win32/Debug/fs_itools.dcu
/frontend/Win32/Debug/fs_xml.dcu
/frontend/Win32/Debug/Service.Task.dcu
/frontend/Win32/Debug/TarefasFrontend.exe
/frontend/Win32/Debug/TaskServiceFactory.dcu
/frontend/Win32/Debug/View.Cadastro.Tarefa.dcu
/frontend/Win32/Debug/View.Login.dcu
/frontend/Win32/Debug/View.Principal.dcu
